
a , a:hover {
    text-decoration: none;
    color: black;
}

.body-container {
  font-size: 16px;
}

.card-group {
  width: 80%;
  margin: auto;
}
.categories-box ul {
  width: 80%;
  margin: auto;
  padding:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.categories-box li {
  list-style-type: none;
}

.category {
  margin: auto;
  width: 200px;
  height: 150px;
  color: white;
  text-align: center;
  
  background-color: black;
}

#header-slide {
  margin-top: 20px;
}

#demo {
  width:80%;
  margin: auto;
}

.double-carroseul {
  display: flex;
}

.body-container {
  margin: auto 100px 0 100px;     
}
.carousel-inner {
}
.carousel-caption {
    background-color: rgba(0,0,0,1);
    bottom: 0;
    left:0;
    right:0;
}
.container {
    max-width: 1000px !important;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    flex: 1 0 30% !important; 
    width: 30%;
    margin:10px !important;
    border-radius: 10px !important;
    border: none;
    background-color: none;
}

.card img {
    border-radius: 10px !important;
}


.card-group {
  padding: 10px !important;

}

.carousel-item img {
  object-fit: cover !important;
}


.text-field {
  text-align: center;
  align-items: center;
  padding: 20px;
}

@media (min-width: 576px) {
  .card-body {
    padding: 0 !important;
    padding-top: 1.25rem !important;

  }

}
@media only screen and (max-width: 900px) {
  .card {
      width: 100%;
      margin-left: 0 !important;
      flex-direction: row;
  }
  .card-img-top {
    height: 20vh;
    width: 30vw;
}

}
@media (max-width: 900px){
    .card-group {
        /* -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap; */
        flex-direction: column !important ;
    }

    .card-body {
      padding: 0 1rem !important;
    }

    .card {

    }

}
