{% extends 'base/main.html' %}
{% block content %}
<head>
    <title>CryptoBlog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    <!-- CSS only -->

<!-- start container all body -->
<div class="">
<!-- <div class="container d-flex flex-wrap align-items-center"> -->
<!-- Carousel -->
<div id="header-slide" class=" bg-light p-3 mb-5 rounded">
<div id="demo" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        {% for blog in blogs %}
        {%  if forloop.first %}
      <div class="carousel-item active">
        <a href="{% url 'blog' blog.id %}"><img src="{{blog.upload_image.url}}" alt=" class="d-block" style="width: 100%;
        height: 400px;"></a>
        <div class="carousel-caption">
          <h3>{{blog.title}}</h3>
          <p>{{blog.description|truncatechars:150|safe }}</p>
        </div>
      </div>
      {% else %}
        {% if forloop.counter <= 3 %}
        <div class="carousel-item">
            <a href="{% url 'blog' blog.id %}"><img src="{{blog.upload_image.url}}" alt=" class="d-block" style="width: 100%;
            height: 400px;"></a>
            <div class="carousel-caption">
            <h3>{{blog.title}}</h3>
            <p>{{blog.description|truncatechars:150|safe }}</p>
            </div>
        </div>
        {% endif %}
      {% endif %}
      {% endfor %}
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
</div>
<div class="text-field mt-5">
  <h5>More news with Cheetah<br></h5>
  <p>Make a cup of coffee and chill!!<p></p>
</div>
        <div class="card-group">
            {% for blog in blogs %}
            {% if forloop.counter <= 6 %}
            <div class="card bg-light mb-3 mt-5 ">
              <a href="{% url 'blog' blog.id %}"><img src="{{blog.upload_image.url}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <a href="{% url 'blog' blog.id %}"><h6 class="card-title">{{blog.title}}</h6></a>
            <!-- <p class="card-text">{{blog.description|truncatechars:100|safe }}</p> -->
            <!-- <p class="card-text"><small class="text-muted">{{blog.created_at}}</small></p> -->
            </div>
          </div> 
            {% endif %}
            {% endfor %}
</div>

<div class="categories-box">
    <ul>
      <li class="category">box 1</li>
      <li class="category">box 1</li>
      <li class="category">box 1</li>
    </ul>
</div>
<!-- end body-container -->

{% endblock content %}