{% extends 'base/main.html' %}
{% block content %}


{% for blog in blogs %}
<style>
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
</style>
<div class="card mb-3 mt-5 " >
    <img src="{{blog.upload_image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <a href="{% url 'blog' blog.id %}"><h5 class="card-title">{{blog.title}}</h5></a>
      <p class="card-text">{{blog.description|truncatechars:255 }}</p>
      <p class="card-text"><small class="text-muted">{{blog.created_at}}</small></p>
    </div>
  </div>
{% endfor %}

{% endblock content %}